#contact
  background-color: $asphalt

.contact-logo
  padding-bottom: 30px
  

.contact-conatiner
  text-align: center
  margin: 0 auto
  padding-bottom: 30px

  
  h4
    color: $clouds
  
.social-icon-container
  padding-bottom: 30px
  
  a
    text-align: center
    +transition()
    
    &:hover
      //+transform(scale(1.2))
      

.contact-social-icon
  max-width: 700px
  margin: 0px 23px
  
  @media (max-width: 420px)
    margin: 0px 15px
  
  
      
  
  
.form-container
  color: $clouds
  margin: 0 auto
  padding-bottom: 30px
  

  form
    max-width: 700px
    margin: 0 auto
    
    input, textarea
      border: 2px solid $clouds
      width: 100%
      background-color: $asphalt
      transition: border-color $emerald
      
      &:hover 
        border-color: shade($clouds, 20%)
    
  
      &:focus 
        border-color: $emerald
        box-shadow: $emerald
        outline: none
  
      
    .send-cta 
      background-color: $asphalt
      
      &:hover 
        background-color: shade($emerald, 20%)
    
  
      &:focus 
        background-color: $emerald
        
      