#footer
  width: 100%
  background:
    image: url(../img/footerBG.jpg)
    
    

.logo-footer
  margin: 20px 20px 10px 50px
  
  
  
.footer-nav
  color: $clouds
  font-size: 16px
  margin: 35px 40px 0px 0
  float: right
  
  