.hero
  position: relative
  height: 760px
  background:
    image: url(../img/headBG.jpg)
    size: auto 760px
    position: top center
    attachment: fixed
  overflow: hidden
    
.logo
  height: 150px
  width: 150px
  background:
    image: url(../img/logoHead.png)
    position: center
    repeat: no-repeat
  position: absolute
  top: 30%
  left: 50%
  margin-top: -50px
  
.rocket
  width: 1600px
  height: 700px
  background
    //color: pink
    image: url(../img/rocket.png)
    repeat: no-repeat
    position: left bottom
  position: absolute
  