.wrapper
  width: 1680px
  max-width: 100%
  margin: 0 auto

  
header
  text-align: center
  

.parallax-window
  position: relative
  height: 760px
  background:
    image: url(../img/headBG.jpg)
    size: 100% 760px
    repeat: no-repeat
    position: top center
    attachment: fixed
  overflow: hidden
  @media (max-width: 500px)
    background:
      size: cover
  
.nausTag
  font-family: 'Roboto', sans-serif
  float: left
  color: $clouds
  margin: 25px 0 0 50px
  font-weight: 700
  font-size: 24px
  @media (max-width: 1100px)
    margin: 20px 0 0 20px
    font-weight: 700
    font-size: 18px
  @media (max-width: 330px)
    margin: 20px 0 0 20px
   
    
    
.menuBtn
  height: 50px
  width: 50px
  margin: 25px 50px 0 0
  float: right
  @media (max-width: 1100px)
    margin: 20px 30px 0 0
    height: 40px
    width: 40px
  @media (max-width: 330px)
    margin: 20px 20px 0 0
   
  
  
.logo
  height: 150px
  width: 100%
  background:
    image: url(../img/logoHead.png)
    position: center
    repeat: no-repeat
  position: absolute
  top: 22%
  margin-top: -50px
  //@media (max-width: 1100px)
    
  @media (max-width: 500px)
    background:
      size: 100px 100px   
  
h1
  color: $clouds
  font-family: 'Roboto', sans-serif
  font-weight: 700
  line-height: 1.75
  //text-transform: uppercase
  letter-spacing: 0.05em
  font-size: 28px
  margin: 300px 10px 0px 10px
  @media (max-width: 1100px)
    font-weight: 700
    font-size: 24px
  @media (max-width: 500px)
    font-weight: 700
    font-size: 20px
    margin: 280px 10px 0px 10px
    
    
.kicker
  margin: 20px 10px 0 10px
  color: transparentize($clouds, 0.6)
  font-family: 'Roboto', sans-serif
  font-weight: 700
  font-size: 14px
  text-transform: uppercase
  letter-spacing: 0.05em
    
.learnBtn
  border: none
  outline: none
  border-radius: 0.5rem
  padding: 0.3rem 2rem
  margin: 20px 0 20px 0
  font-weight: 700
  color: $clouds
  text-alight: center
  background:
    color: transparentize($asphalt, 0.4)

    
    
.down-arrow
  height: 30px
  width: 30px
  margin: 100px 0 0 0
  
  
  
  
.rocket
  width: 100%
  height: 700px
  background:
    //color: transparentize(pink, 0.4)
    image: url(../img/rocket.png)
    repeat: no-repeat
    position: right bottom
  position: absolute
  top: 60px
  @media (max-width: 1250px)
    background:
      size: 1200px 600px
  @media (max-width: 1050px)
    background:
      size: 1000px 500px
  @media (max-width: 500px)
    background:
      size: 800px 300px
    
    
  