.hero {  
  $base-border-radius: 3px !default;
  $large-screen: em(860) !default;

  background: url(../img/header2.jpg);
  background-color: silver;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  .hero-logo img {
    height: 350px;
    width: 650;
    margin-bottom: 1em;
    @media screen and (max-width: 720px) {
      height: 200px;
      width: 400;
      margin-bottom: 1em;
    }
    @media screen and (max-width: 420px) {
      height: 100px;
      width: 300;
      margin-bottom: 1em;
    }
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 20px;
    text-align: center;

  }
}


      
    

      