nav
  height: 50px
  background: #444
    
  a
    display: inline-block
    margin: 15px 0 0 30px
    
    color: white
    font:
      size: 14px
      weight: 700
    text-transform: uppercase
        
    &:hover
      color: lime
   
  
.logo--sm
  +size(50px)
  float: left
  margin: 10px 0 0 25px

.firsticon--sm
  float: right
  margin: 10px 25px 0 0
  
  @media screen and (max-width: 720px) 
    display: none

.mediaIcons--sm
  float: right
  margin: 10px 10px 0 0
  
  @media screen and (max-width: 720px) 
    display: none
   