#portfolio
  background-color: $asphalt
  
.thumb-container
  max-width: 750px
  margin: 0 auto
  @include clearfix
  
.thumb-unit
  margin: 2px 2px
  display: block
  width: 31%
  height: 150px
  float: left
  background: 
    image: url(/assets/img/work/proj-1/thumb.jpg)
    position: center center
    repeat: no-repeat
    size: cover
    
  

