#services
  background-color: $clouds
  
  
.service-box
  color: $asphalt
  width: 100%
  text-align: center
  padding: 0 15px 25px 15px
  border-radius: 10px
  box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25)
  background:
    color: white
  
  h3
    margin: 0px
    padding: 25px 0 10px 0
 
  p
    padding-bottom: 25px
    
  ul
    padding-bottom: 25px 