.hero-skills {  
  height: 400px;
  $base-border-radius: 3px !default;
  $large-screen: em(860) !default;

  background: url(../img/site_bg.jpg);
  background-color: silver;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}