<div id="about">  
  
<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon">
      <img src="assets/img/designer.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Designer</h2>
      <p>As a designer first, I bring years of experience to your company's identity. Logos, branding, User Experience, and user interface design. </p>
      </div>
  </li>  
  <li class="bullet">
    <div class="bullet-icon">
      <img src="assets/img/developer.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Developer</h2>
      <p>Taking your design and developing them into interfaces that millions can see. Frontend web development and responsive design using, HTML5, CSS, and javaScript.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon">
      <img src="assets/img/entrepreneur.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Entrepreneur</h2>
      <p>Started NausDesign in 2007 to further my dreams and use my skills to grow my business and one day be a thriving startup.</p>
    </div>
  </li> 
</ul>
    
</div>
