<section id="about"> 
  <div class="flex">   
    <div class="col-1">
      <h3 class="section-title-a">Who is NausDesign...</h3>
      <img src="assets/img/profile-img.png" class="profile-img">
      <p class="p-dark">Hi, I am Chris Nauslar.  A freelance designer and developer.  I have been designing for the last 8 years, and now have stepped into developing.  I enjoy pushing the limits of web development, so that I can help my clients set their brand apart from the competition.  I currently work on logos, and web design for company branding.  I am also very eager to grow as a developer, check out my portfolio to see my next big project.</p>
    </div>  
  </div>
</section>