<section id="contact">
    
     <div class="flex">   
    <div class="col-2">
      <h3 class="section-title-c">Get in touch</h3>
      
      <div class="contact-conatiner">
      
      <img src="assets/img/contact-logo.png" class="contact-logo">
      <h4>Chris Nauslar</h4>
      <ul>
        <li>NausDesign@gmail.com</li>
        <li>316-516-2653</li>
        <li>Wichita, Kansas</li>
      </ul>
      
      </div>
      
      <hr>
      <div class="social-icon-container">
      
      <a href="https://www.linkedin.com/in/chris-nauslar-181482114" target="_blank" class="contact-social-icon">{% include icons/linkedin.svg %}</a>
      <a href="https://www.instagram.com/nausdesign/" target="_blank" class="contact-social-icon">{% include icons/instagram.svg %}</a>
      <a href="https://www.behance.net/NausDesign" target="_blank" class="contact-social-icon">{% include icons/behance.svg %}</a>
      <a href="https://dribbble.com/NausDesign" target="_blank" class="contact-social-icon">{% include icons/dribbble.svg %}</a>
      <a href="https://github.com/naus" target="_blank" class="contact-social-icon">{% include icons/github.svg %}</a>
      
      </div>
      
    </div>  
    <div class="col-2">
      <h3 class="section-title-c">Launch your Project</h3>
      
      <div class="form-container">
      
      <form method="POST" action="https://formspree.io/nausdesign@gmail.com">
        <input type="text" name="name" placeholder="Name *">
        <input type="text" name="company" placeholder="Company">
        <input type="email" name="_replyto" placeholder="E-Mail *">
        <input type="text" name="phone" placeholder="Phone">
        <input type="text" name="inquiring" placeholder="Inquiring * (ex... Logo Design)">
        <textarea name="message" placeholder="Message *"></textarea>
        <input type="submit" value="Send" class="send-cta">
      </form>
      
      </div>
       
    </div>   
  </div>
   
</section>