<section id="contact">
    
     <div class="flex">   
    <div class="col-2">
      <h3 class="section-title-c">Contact</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget tortor in purus hendrerit commodo. Nam sit amet est pharetra, aliquam tortor at, lacinia mauris. Suspendisse a diam semper, fringilla velit luctus, maximus tortor. Proin imperdiet tortor eget congue maximus. Phasellus id ipsum sit amet lorem dictum tincidunt. Quisque gravida mi in purus blandit blandit. Nulla facilisi. Quisque eu sem quis quam consequat mollis vel sagittis velit. Sed arcu erat, volutpat sit amet molestie a, tincidunt sit amet mauris. Sed lacinia bibendum sapien, et feugiat purus ullamcorper nec. Sed molestie ante maximus, ultrices lectus nec, finibus nulla. Nullam volutpat molestie eros vulputate aliquam. Maecenas tincidunt posuere venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tortor neque, congue ut placerat nec, imperdiet a mi.</p>
    </div>  
    <div class="col-2">
      <h3 class="section-title-c"></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget tortor in purus hendrerit commodo. Nam sit amet est pharetra, aliquam tortor at, lacinia mauris. Suspendisse a diam semper, fringilla velit luctus, maximus tortor. Proin imperdiet tortor eget congue maximus. Phasellus id ipsum sit amet lorem dictum tincidunt. Quisque gravida mi in purus blandit blandit. Nulla facilisi. Quisque eu sem quis quam consequat mollis vel sagittis velit. Sed arcu erat, volutpat sit amet molestie a, tincidunt sit amet mauris. Sed lacinia bibendum sapien, et feugiat purus ullamcorper nec. Sed molestie ante maximus, ultrices lectus nec, finibus nulla. Nullam volutpat molestie eros vulputate aliquam. Maecenas tincidunt posuere venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tortor neque, congue ut placerat nec, imperdiet a mi.</p> 
    </div>   
  </div>
   
</section>