<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="assets/img/logo--lg-w.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="#nav">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <ul>
      <li><h3>Follow</h3></li>
      <li><a href="javascript:void(0)">LinkedIn</a></li>
      <li><a href="javascript:void(0)">GitHub</a></li>
      <li><a href="javascript:void(0)">Behance</a></li>
      <li><a href="javascript:void(0)">Google+</a></li>
    </ul>
  </div>

  <hr>

  <p>NausDesign 2016</p>
</footer>
