<section id="header">
<div class="wrapper">

<!-- Slide out Menu for site nav-->

<nav class="sliding-panel-content">
   <ul>
    <li><a href="#header">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="javascript:void(0)">Portfolio</a></li>
    <li><a href="javascript:void(0)">Services</a></li>
    <li><a href="javascript:void(0)">Contact</a></li>
  </ul> 
  <!-- <div class="sliding-panel-close">Close Panel</div> -->
</nav>

<div class="sliding-panel-fade-screen"></div>

<!-- END -->

<header class="parallax-window">
  <p class="nausTag">NausDesign</p>
  <img src="assets/img/menu.png" type="button" class="sliding-panel-button">
  <div class="logo"></div> 
  <h1>Let NausDesign Launch your company <br> to the next level.</h1>
  <p class="kicker">Graphic Design  &amp;  Website Development</p>
  <div><button class="learnBtn">Learn More</button></div>
  <div><img src="assets/img/downArrow.png" class="down-arrow"></div>
  <div class="rocket"></div>
</header>
</div>
</section>
