<section id="header">

<!-- Slide out Menu for site nav-->

<nav class="sliding-panel-content">
   <ul>
    <li><a href="#header"><img src="assets/img/icons/home.png" class="menu-icons">Home</a></li>
    <li><a href="#about"><img src="assets/img/icons/about.png" class="menu-icons">About</a></li>
    <li><a href="javascript:void(0)"><img src="assets/img/icons/portfolio.png" class="menu-icons">Portfolio</a></li>
    <li><a href="javascript:void(0)"><img src="assets/img/icons/services.png" class="menu-icons">Services</a></li>
    <li><a href="javascript:void(0)"><img src="assets/img/icons/contact.png" class="menu-icons">Contact</a></li>
  </ul> 
  <!-- <div class="sliding-panel-close">Close Panel</div> -->
   <div>
     <img src="assets/img/icons/linkedin.png" class="menu-social-icons">
     <img src="assets/img/icons/be.png" class="menu-social-icons">
     <img src="assets/img/icons/instagram.png" class="menu-social-icons">
     <img src="assets/img/icons/dribble.png" class="menu-social-icons">
     <img src="assets/img/icons/twitter.png" class="menu-social-icons">
     <img src="assets/img/icons/github.png" class="menu-social-icons">   
   </div>
  <div class="menuLogo"><img src="assets/img/menuLogo2.png"></div>
</nav>

<div class="sliding-panel-fade-screen"></div>

<!-- END -->

<header class="parallax-window">
  <p class="nausTag">NausDesign</p>
  <img src="assets/img/menu.png" type="button" class="sliding-panel-button">
  <div class="logo"></div> 
  <h1 class="h1-head">Let NausDesign Launch your company <br> to the next level.</h1>
  <p class="kicker">Graphic Design  &amp;  Website Development</p>
  <a href="#about" class="learn-cta">Learn More</a>
  <div><img src="assets/img/downArrow.png" class="down-arrow"></div>
  <div class="rocket"></div>
</header>

</section>
