<section id="header">
<div class="wrapper">


<header class="parallax-window">
<p class="nausTag">NausDesign</p>
<img src="assets/img/menu.png" type="button" class="sliding-panel-button">

<nav class="sliding-panel-content">
  <div class="sliding-panel-close">Close Panel</div>
</nav>

<div class="sliding-panel-fade-screen"></div>
   
  
  <div class="logo"></div> 
  <h1>Let NausDesign Launch your company <br> to the next level.</h1>
  <p class="kicker">Graphic Design  &amp;  Website Development</p>
  <div><button class="learnBtn">Learn More</button></div>
  <div><img src="assets/img/downArrow.png" class="down-arrow"></div>
  <div class="rocket"></div>
</header>
</div>
</section>
