<div class="logo--sm">{% include icons/logo--sm.html %}</div>
    
    <nav>
        <a href="#header">HOME</a>
        <a href="#about">ABOUT</a>
        <a href="#portfolio">PORTFOLIO</a>
        <a href="#services">SERVICES</a>
        <a href="#contact">CONTACT</a>
        
        <div class="facebook--sm">{% include icons/facebook--sm.html %}</div>
        <div class="mediaIcons--sm">{% include icons/google--sm.html %}</div>
        <div class="mediaIcons--sm">{% include icons/twitter--sm.html %}</div>
        <div class="mediaIcons--sm">{% include icons/be--sm.html %}</div>
        
    </nav>
