<section id="portfolio">
 
  <div class="flex">   
  <div class="col-2">
    <h3 class="section-title-c">Portfolio</h3>
         
   <div class="work-belt">                             
   <div class="thumb-wrap">
      <div class="thumb-container">
      {% for project in site.data.settings.projects %}
      <label for="{{ project.folder }}">
        <div class="thumb-unit" data-folder="{{ project.folder }}">
          <img src="assets/img/work/{{project.folder}}/thumb.png" alt="{{ project.name }}" />
        </div>
        <div class="thumb-overlay">
          <strong>{{ project.name }}</strong>
        </div>
      </label>
      {% endfor %}
    </div>
    </div>
    
    <div class="work-wrap">
     <div class="work-container">
     <label for="return">
       <div class="work-return">{% include icons/chevron-left.svg %}</div>
     </label>
     <h4 class="project-title"></h4>
     <div class="project-load"></div>
     <noscript>
       {% for project in site.data.settings.projects %}
         <div class="noscript" id="content-{{ project.folder }}">
           <h4 class="project-title">{{ project.name }}</h4>
           <div class="noscript-load">
             {% include {{project.file}} %}
           </div>
         </div>
       {% endfor %}
     </noscript>
   </div>
   </div>

  </div>
  </div>
      
      
    <div class="col-2">
      <h3 class="section-title-c">Current Projects</h3>
      <img src="assets/img/ouk-wire-mock.png" class="ouk-img">
      <div class="be-cta-box">
        <a href="https://www.behance.net/NausDesign" class="behance-cta">View Full Portfolio With <b>BEHANCE</b></a>
      </div> 
    </div>
          
  </div>

</section>