<section id="portfolio">
 
  <div class="flex">   
    <div class="col-2">
      <h3 class="section-title-c">Portfolio</h3>
      
      <div class="thumb-container">
        
         {% for project in site.data.settings.projects %}
        
         <a href="#" class="thumb-unit" style="background-image: url(/assets/img/work/{{project.folder}}/thumb.png);">
          <div class="thumb-overlay">
            <strong>{{ project.name }}</strong>
            <div class="zoom-icon"></div>
          </div> 
        </a> 
        
        {% endfor %}
        
      </div>
      
    </div>  
    <div class="col-2">
      <h3 class="section-title-c">Current Projects</h3>
      <img src="assets/img/ouk-wire-mock.png" class="ouk-img">
    </div>   
  </div>

</section>