<section id="services">
 
  <div class="flex">  
    <div class="col-3">
      <div class="service-box">
      <h3 class="section-title-a">Branding</h3>
      <hr>
      <p><b>Looking to stand out or to give your name an image?</b>  I can help you with that.  Together we can design a logo 
      that will be creative and help market your company.  Anything from letter stlying to a simple image.</p>
      <ul>
        <li><b>Packages:</b></li>
        <li>&#9679; Logo Design</li>
        <li>&#9679; Logo &amp; Business card </li>
        <li>&#9679; Logo, Business card, &amp; Stationery</li>
      </ul>
      <a href="#contact" class="service-cta">Contact Me For More Info</a>
      </div>
    </div>  
    <div class="col-3">
      <div class="service-box">
      <h3 class="section-title-a">UI/UX Design</h3>
      <hr>
      <p><b>Have an idea but need help bringing it to life?</b> Web site or mobile I can help design a <u>User Interface</u>  that will give your product the look and feel your users are looking for.  At the same time making sure the <u>User Experience</u> is optimized and easy on your users. </p> 
      <ul>
        <li><b>Advantages:</b></li>
        <li>&#9679; Desktop &amp; Mobile responsive</li>
        <li>&#9679; Up to date with modern design</li>
      </ul>
      <a href="#contact" class="service-cta">Contact Me For More Info</a>
      </div>
    </div> 
    <div class="col-3">
      <div class="service-box">
      <h3 class="section-title-a">Web Development</h3>
      <hr>
      <p><b>Ready to launch your first or one of many websites?</b>  Let me help you take that step and design your site from the ground up.  Using the latest industry standards, HTML5, CSS3, and JavaScript we are able to make your site user friendly and responsive. </p> 
      <ul>
        <li><b>Advantages:</b></li>
        <li>&#9679; free quote with wireframe layout</li>
        <li>&#9679; Help with picking a Host and Domain</li>
      </ul>
      <a href="#contact" class="service-cta">Contact Me For More Info</a>
      </div> 
    </div>    
  </div>

</section>