<section id="services">
 
  <div class="flex">   
    <div class="col-3">
      <h3 class="section-title-a">Branding</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget tortor in purus hendrerit commodo. Nam sit amet est pharetra, aliquam tortor at, lacinia mauris. Suspendisse a diam semper, fringilla velit luctus, maximus tortor. Proin imperdiet tortor eget congue maximus. Phasellus id ipsum sit amet lorem dictum tincidunt. Quisque gravida mi in purus blandit blandit. Nulla facilisi. Quisque eu sem quis quam consequat mollis vel sagittis velit. </p>
    </div>  
    <div class="col-3">
      <h3 class="section-title-a">UI/UX Design</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget tortor in purus hendrerit commodo. Nam sit amet est pharetra, aliquam tortor at, lacinia mauris. Suspendisse a diam semper, fringilla velit luctus, maximus tortor. Proin imperdiet tortor eget congue maximus. Phasellus id ipsum sit amet lorem dictum tincidunt. Quisque gravida mi in purus blandit blandit. Nulla facilisi. Quisque eu sem quis quam consequat mollis vel sagittis velit. </p> 
    </div> 
    <div class="col-3">
      <h3 class="section-title-a">Web Development</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget tortor in purus hendrerit commodo. Nam sit amet est pharetra, aliquam tortor at, lacinia mauris. Suspendisse a diam semper, fringilla velit luctus, maximus tortor. Proin imperdiet tortor eget congue maximus. Phasellus id ipsum sit amet lorem dictum tincidunt. Quisque gravida mi in purus blandit blandit. Nulla facilisi. Quisque eu sem quis quam consequat mollis vel sagittis velit.</p> 
    </div>     
  </div>

</section>