// Learn More Button -----------

.learn-cta
  border: none
  outline: none
  border-radius: 0.5rem
  padding: 0.4rem 2rem
  font-weight: 700
  font-size: 16px
  color: $clouds
  text-decoration: none
  text-alight: center
  cursor: pointer
  z-index: 2
  position: relative
  background:
    color: transparentize($asphalt, 0.4)
    
  &:hover
    color: $clouds
    background:
      color: $asphalt
  
  @media (max-width: 440px)
    font-size: 14px
    padding: 0.3rem 1.8rem
  @media (max-width: 380px)
    font-size: 12px
    padding: 0.3rem 1.8rem
    
    
// ----------- END--------------